.tasks {
    background-color: yellow;

}

.task {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-color: black;
    background-color: antiquewhite;
}

.task button {
    width: 10%;
    border: 0;
    background-color: transparent ;
}