.Todo-App {
  background-color: #222831;
  border: 3px;
  border-color: #21325E;
  border-style: solid;
  color: #F0F0F0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  text-align: center;
}
  
